BODY {
	MARGIN: 0px; POSITION: relative
}
.body {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px;  FONT-FAMILY: verdana
}
.ten {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana
}
.eleven {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana
}
.margin_img {
	MARGIN: 5px
}

#jdol_container {
	MIN-WIDTH: 780px; FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: Verdana; POSITION: relative
}
#jdol_container A:link {
	TEXT-DECORATION: none
}
#jdol_container A:visited {
	TEXT-DECORATION: none
}
#jdol_container A:active {
	TEXT-DECORATION: none
}
#jdol_container A:hover {
	TEXT-DECORATION: none
}
#jdol_banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: -2; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 780px; PADDING-TOP: 0px; POSITION: relative
}
#jdol_banner_bkgnd {
	DISPLAY: block; WIDTH: 100%; HEIGHT: 54px
}
#jdol_banner_label {
	Z-INDEX: -1; FLOAT: left; MARGIN: 0px 5px 0px 10px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#jdol_banner_sig {
	Z-INDEX: -1; FLOAT: right; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#jdol_navbar_bkgnd {
	WIDTH: 100%
}
#jdol_ent_menu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: white; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 25px
}
#jdol_ent_bkgrnd {
	DISPLAY: block; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: -2px; HEIGHT: 25px
}
#ent_menu_contain {
	MARGIN: 0px auto; WIDTH: 780px; POSITION: relative
}
#div_menu_contain {
	MARGIN: 0px auto; WIDTH: 780px; POSITION: relative
}
#jdol_divnavbar_bkgnd {
	DISPLAY: block; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
#jdol_div_menu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: -1; PADDING-BOTTOM: 12px; MARGIN: 0px; WIDTH: 100%; COLOR: white; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 19px
}
#ent_menu_labels {
	PADDING-LEFT: 0px; Z-INDEX: 3; WIDTH: 90%; LINE-HEIGHT: 15px; POSITION: relative; TOP: 0px; HEIGHT: 20px
}
#div_menu_labels {
	PADDING-LEFT: 0px; Z-INDEX: 1; WIDTH: 90%; LINE-HEIGHT: 15px; POSITION: relative; TOP: 0px; HEIGHT: 20px
}
#div_menu_labels TABLE {
	WIDTH: 780px
}
#ent_menu_labels UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#div_menu_labels UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.menutree {
	Z-INDEX: 3
}
UL.menutree UL {
	DISPLAY: none; Z-INDEX: 3; WIDTH: 143px; POSITION: absolute; TOP: 10px
}
UL.menutree UL.foldOut {
	DISPLAY: block
}
UL.menutree LI {
	POSITION: relative
}
UL.menutree LI.highlight {
	Z-INDEX: 10
}
DIV#ent_menu_labels LI.highlight {
	Z-INDEX: 10
}
DIV#div_menu_labels LI.highlight {
	Z-INDEX: 10
}
.menutree LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;
}
UL.menutree A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
DIV#ent_menu_labels UL UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 143px; PADDING-TOP: 0px
}
DIV#ent_menu_labels LI {
	FLOAT: left; MARGIN: 0px 10px
}
DIV#ent_menu_labels LI LI {
	FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 3px; WIDTH: auto; LINE-HEIGHT: 1.5em; PADDING-TOP: 3px
}
DIV#ent_menu_labels LI LI A {
	ZOOM: 1
}
DIV#ent_menu_labels A {
	DISPLAY: block; TEXT-ALIGN: center
}
DIV#div_menu_labels UL UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 143px; PADDING-TOP: 0px
}
DIV#div_menu_labels LI {
	FLOAT: left; MARGIN: 0px 10px
}
DIV#div_menu_labels LI LI {
	FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 3px; WIDTH: auto; LINE-HEIGHT: 1.2em; PADDING-TOP: 1px
}
DIV#div_menu_labels LI LI A {
	ZOOM: 1
}
DIV#div_menu_labels A {
	DISPLAY: block; TEXT-ALIGN: center
}
#otherlinks {
	PADDING-RIGHT: 15px; DISPLAY: inline; Z-INDEX: 2; RIGHT: 0px; WIDTH: auto; LINE-HEIGHT: 15px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 0px; HEIGHT: 20px
}
#otherlinks A {
	TEXT-DECORATION: none
}
#division_name {
	FONT-WEIGHT: bold; Z-INDEX: 1; LEFT: 0px; MARGIN: 0px 0px 0px 10px; POSITION: absolute; TOP: 50px
}
.twelve {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.itemText {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.thirteen {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.date {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana
}
.elevenwhite {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana
}
.white {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
#menutitle {
	PADDING-RIGHT: 3px; PADDING-LEFT: 1px; FONT-SIZE: 11px; COLOR: #000000; BACKGROUND-COLOR: #cccccc
}
.subheadertitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.subheadertitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.tablecontent {
	 FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif
}
.menustyle {
	Z-INDEX: 10; VISIBILITY: hidden; POSITION: absolute
}
.deptname {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.greenlinknounderline:link {
	COLOR: #006600; TEXT-DECORATION: none
}
A.greenlinknounderline:visited {
	COLOR: #006600; TEXT-DECORATION: none
}
A.greenlinknounderline:active {
	COLOR: #006600; TEXT-DECORATION: none
}
A.greenlinknounderline:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
.footer1 {
height: absolute;
clear: both;
bottom:0px;
width:100%;
position: absolute
}

.POP_LAYER { 
	width: 101%; 
	height: 100%; 
	min-height:100%; 
	position: absolute; 
	z-index: 1; 
	overflow: hidden; 
	left: 0px; 
	top: 0px; 
	opacity: .3; 
	filter: alpha(opacity=30); 
	background-color: #FFFFFF; 
	display:block;
	vertical-align:middle;
} 

.POP_LAYER_1 { 
	width: 101%; 
	height: 4%; 
	min-height:100%; 
	position: absolute; 
	z-index: 1; 
	overflow: hidden; 
	opacity: .3; 
	filter: alpha(opacity=30); 
	background-color: #FFFFFF; 
	display:block;
	vertical-align:baseline;
} 

.POP_EMAIL_LAYER { 
	position: absolute; 
	z-index: 1; 
	opacity: 1.0; 
	filter: alpha(opacity=100); 
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-top: 20px;
	margin-bottom: 5px;
	background-color: #FFF380; 
	display:block;
	vertical-align:middle;
} 

.POP_LAYER_NONE { 
	display:none;
}

.CB_Medium{
			BORDER-RIGHT: 1px solid;
		    BORDER-TOP: 1px solid;
		    BORDER-LEFT: 1px solid;
		    BORDER-BOTTOM: 1px solid;
		    FONT-SIZE: 13px;
		    MARGIN: 0px;
		    WIDTH: 69px;
		    CURSOR: hand;
		    COLOR:  #000000;
		    FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif;
		    font-weight:bold;
		    HEIGHT: 22px;
		    BACKGROUND-COLOR: #EAC117;     
		}

