BODY {
	MARGIN: 0px; POSITION: relative
}
body {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana
}
.input{
    width:80px;height:12px;font-size:10px;
}
.inputSelect{
    height:18px;font-size:11px;
}
.inputButton{
	font-size:10px;height:20px;
}
.inputQuantity{
	font-size:10px; width:15px;height:12px;
}
.inputPrice{
	font-size:10px; width:25px;height:12px;
}
.inputPriceTotal{
	font-size:10px; width:35px;height:12px;
}